
</html>
    <head>
         <div class="card">
        <title>Express proj</title>
        <link rel ="stylesheet" href="css/style.css">

    </head>
   
    <body>
        <h2>{{title}} </h2>
        
        
        <form id="form1">
           <input type="text" id="address">
           <button> Get Weather</button>

        </form>
         <div class="card">
            <p id= "location"></p>
            <p id= "latitude"></p>
            <p id= "longtitude"></p>
            <p id= "temperature"></p>
            <p id="error"></p>
            </div>
    </div>

        <script src="js/script.js"></script>

    </body>



</html>